on fs
    setprop ro.build.id PI
    setprop ro.boot.avb_version 1.1
    setprop ro.boot.vbmeta.avb_version 1.1
    setprop ro.boot.vbmeta.device_state unlocked
    setprop ro.boot.verifiedbootstate orange
    setprop ro.boot.veritymode disabled
    chmod 0777 /prop.default
