allow init kernel:security setcheckreqprot;
allow init rootfs:lnk_file setattr;
allow init kernel:system module_request;
allow init vendor_file:dir create;
allow init vendor_hal_file:dir create;
allow init hal_gatekeeper_default_exec:lnk_file create;
allow init hal_keymaster_default_exec:lnk_file create;
allow init hal_configstore_default_exec:lnk_file create;
